* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

header {
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: sticky;
}

header h1 {
    margin: 0;
}

header span {
    display: none;
}

header img {
    width: 26px;
}

header ul {
    display: none;
}

section h2 {
    margin: 0;
}

.introducing {
    background-size: cover;
    background-position: center;
    min-height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.benefits {
    background-color: white;
    padding: 130px 0;
}

@media screen and (min-width: 700px) {
    .benefits div {
        display: flex;
        justify-content: center;
    }
}

.benefits h2 {
    text-align: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

figure img {
    margin-bottom: 50px;
    width: 127px;
}

footer {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

footer hr {
    border-color: #eaebec;
    width: 90%;
    border-width: 1px 0 0 0;
}