* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

header {
    height: 4.375rem;
    background-color: white;
    padding-left: 20px;
    position: sticky;
}

header nav {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
}

header span {
    display: none;
}

header img {
    width: 26px;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    margin: 20px;
}

section h2 {
    margin: 0;
}

.introducing {
    background-size: cover;
    background-position: center;
    background-image: url(./img/first-background.jpg);
    min-height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45.938rem;
}

.section-button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

.benefits {
    background-color: white;
    padding: 130px 0;
}

@media screen and (min-width: 700px) {
    .benefits div {
        display: flex;
        justify-content: center;
    }
}

.need-karma__box-img {
    display: flex;
    align-items: center;
}

.benefits-h2 {
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45.938rem;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

figure img {
    margin-bottom: 50px;
    width: 127px;
}

footer {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

footer hr {
    border-color: #eaebec;
    width: 90%;
    border-width: 1px 0 0 0;
}

.p-redes-sociales {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

.fa-twitter {
    content: "\f099";
}